<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
   <title>Evénements</title>

   <link rel="stylesheet" href="/views/event/css/bootstrap-5.3.3-dist/css/bootstrap.css">
   <!-- FontAwesome -->
   <link rel="stylesheet" href="/views/event/css/font-awesome.min.css">
   <!-- Animation -->
   <link rel="stylesheet" href=/views/event/css/animate.css">
   <!-- magnific -->
   <link rel="stylesheet" href="/views/event/css/magnific-popup.css">
   <!-- carousel -->
   <link rel="stylesheet" href="/views/event/css/owl.carousel.min.css">
   <!-- isotop -->
   <link rel="stylesheet" href="/views/event/css/isotop.css">
   <!-- ico fonts -->
   <link rel="stylesheet" href="/views/event/css/xsIcon.css">
   <!-- Template styles-->
   <link rel="stylesheet" href="/views/event/css/style.css">
   <!-- Responsive styles-->
   <link rel="stylesheet" href="/views/event/css/responsive.css">
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/views/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/views/assets/css/templatemo-villa-agency.css">
    <link rel="stylesheet" href="/views/assets/css/owl.css">
    <link rel="stylesheet" href="/views/assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/views/assets/css/test.css">
    <link rel="stylesheet" href="/public/font-awesome/css/all.min.css">
   <style>
        .card-img-top {
            height: 180px;
            object-fit: cover;
        }
    </style>
</head>
<body>
   <div class="body-inner">
      <!-- NAVBAR start  -->
      <nav class="navbar navbar-expand-lg navbar-dark position-fixed" id="navbar" style="width: 100%; z-index: 999; top: 0;">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-between align-items-center" href="#">
                <img id="logo" src="/images/logo2.png" alt="Logo du site" width="80" height="80" class="d-inline align-top mx-5">
                <!-- <h1 class="f">Al Moutmir</h1> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/actualites">Actualité</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/events">Evenement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apropos">A Propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
      <!-- banner start-->
      <section class="hero-area banner-6 banner-6-alt" style="height: 100vh;">
         <div class="banner-item">
            <div class="container-fluid" >
               <div class="row" style="height: 100vh; background-image: url(/images/ticket-2974645_1280.jpg); background-size: cover; background-position: center;">
                  <div class="col-lg-6 ms-3">
                     <div class="banner-content-wrap">
                        <h2 class="banner-title wow fadeInUp text-center" data-wow-duration="1.5s" data-wow-delay="700ms" style="text-transform: uppercase; color: #fefefe; font-style: italic;">
                            BIENVENUE <br>DANS <br><span class="text-light"><%= event.titre %></span>
                        </h2>
                     </div>
                     <!-- Banner content wrap end -->
                  </div><!-- col end-->
               </div><!-- row end-->
            </div>
            <!-- Container end -->
         </div>
      </section>
      <!-- banner end-->
      <section class="container mt-5">
          <% if (messages.success_msg) { %>
              <div class="alert alert-success">
                  <%= messages.success_msg %>
              </div>
          <% } %>
      
          <% if (messages.error_msg) { %>
              <div class="alert alert-danger">
                  <%= messages.error_msg %>
              </div>
          <% } %>
    
      
        <!-- Event Title and Description -->
        <div class="row featurette" style="margin-top: 100px; padding: 30px;">
            <div class="col-md-7">
                <h2 class="fw-bold lh-1 m-3 fs-1" style="text-transform: capitalize;"><%= event.titre %></h2>
                <p class="lead m-5"><%= event.description %></p>
            </div>
            <div class="col-md-5">
                <img src="/public/<%= event.imageUrl || 'default.jpg' %>" alt="<%= event.titre %>" width="auto" height="auto" style="box-shadow: 5px 5px 10px gray;">
            </div>
        </div>
    
        <!-- Event Details -->
        
        
        
        <div class="container my-5 d-flex flex-column align-items-center justify-content-between p-4" style="box-shadow: 5px 5px 20px gray;">
          <div class="row m-4">
              <h4><strong class="text-dark ">Début :</strong> <%= event.date_debut %></h4>
            </div>
          <div class="row m-4">
            <i class="fa-solid fa-arrow-down fs-1"></i>
            </div>
          <div class="row m-4">
            <h4><strong class="text-dark">Fin :</strong> <%= event.date_fin %></h4>
          </div>
          </div>
        </div>
        <h3 class="fs-1 m-3" style="letter-spacing: 1px;">Lieu .</h3>
        <div id="lieu">
          <div class="section-title">
            <p><%= event.lieu %></p>
          </div>
        </div>
    
        <!-- Sponsors Section -->
        
        <!-- Speakers Section -->
        <h2 class="fs-1 mx-4 my-5" style="letter-spacing: 1px;">Speakers</h2>
        <div class="row mt-4">
          <% speakers.forEach(speaker => { %>
            <div class="col-lg-4 text-center mb-4 d-flex flex-column align-items-center justify-content-center py-5">
                <% if (speaker.image_url) { %>
                <!-- <img src="/public/images/default-speaker.jpg" alt="<%= speaker.nom %> <%= speaker.prenom %>"class="cover"> -->
                 <div class="cover" style="background-image: url('/public/<%= speaker.image_url %>');"></div>
                <% } else { %>
                  
                <div class="cover" style="background-image: url('/public/<%= speaker.image_url %>');"></div>
                <% } %>
                <h2 class="fw-normal mt-3" style="text-transform: capitalize;"><%= speaker.nom %> <%= speaker.prenom %></h2>
                <p><%= speaker.description %></p>
            </div>
            <% }) %>
        </div>
        
        <!-- Programme Section -->
        <h2 class="fs-1 mx-4 my-5" style="letter-spacing: 1px;">Programme</h2>
        <div class="row d-flex justify-content-center" style="height: 400px;">
          <% programmes.forEach(programme => { %>
            <div class="col-md-6" style="width: 70%; height: 100%; ">
              <div class="card mb-4" style="height: 100%; border: none; background-color: #eaeaea;">
                <div class="card-body">
                  <h5 class="card-title fs-2 text-center my-3"><%= programme.titre %></h5>
                  <p class="card-text fs-4 text-center my-3"><%= programme.description %></p>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
          <h2 class="fs-1 mx-4 my-5 border" style="letter-spacing: 1px;">Sponsors</h2>
          <div class="row" id="sponsors">
              <% sponsors.forEach(sponsor => { %>
              <div class="col-lg-4 text-center mb-4">
                  <h2 class="mt-3 fw-bold  fs-1"><%= sponsor.nom %></h2>
                  <!-- <p><%= sponsor.description %></p> -->
              </div>
              <% }) %>
          </div>
          
          <!-- Apply Button -->
          <div class="d-flex justify-content-center mt-4">
          <form action="/events/apply" method="POST">
            <input type="hidden" name="eventId" value="<%= event.id %>">
            <button type="submit" class="btn btn-primary p-4 fs-5 my-5" style="letter-spacing: 1px;">Demander Candidature</button>
        </form>
        
      </div>
      
    </section>  
    
            <!-- footer start-->
            <footer>
                <div class="footer-content">
                  
              
                  <!-- Liens Utiles -->
              
                  <div class="footer-links">
                    <h4 class="h4">Contact</h4>
                    <ul>
                      <li><p>Adresse : 123 Rue de l'Agriculture, 00000 Ville, Pays</p></li>
                      <li><p>Email : <a href="mailto:contact@sam.ma" style="color: white;" class="a">contact@sam.ma</a></p></li>
                      <li><p>Téléphone : +123 456 789</p></li>
                    </ul>
                  </div>
                  
                  <div class="footer-links">
                    <h4 class="h4">Liens Utiles</h4>
                    <ul>
                      <li><a href="/politique-de-confidentialite" class="a">Politique de Confidentialité</a></li>
                      <li><a href="/conditions-generales" class="a">Conditions Générales d'Utilisation</a></li>
                      <li><a href="/aide" class="a">Aide / FAQ</a></li>
                    </ul>
                  </div>
              
                  <!-- Règlement Général -->
                  <div class="footer-reglement">
                    <h4 class="h4">Règlement Général</h4>
                    <a href="/reglement-general" class="a">Consulter le Règlement Général</a>
                  </div>
              
                  <!-- Mentions Légales -->
                  <div class="footer-mentions">
                    <h4 class="h4">Mentions Légales</h4>
                    <a href="/mentions-legales" class="a">Voir les Mentions Légales</a>
                  </div>
                </div>
              
                
              
                <!-- Coordonnées de Contact -->
                <!-- Partenaires -->
                <div class="footer-partners">
                  
                  <a href="https://www.ocpgroup.ma/" target="_blank" class="a">
                    <img src="/views/assets/images/logoocp.png" alt="Partenaire 1">
                  </a>
                  <a href="https://um6p.ma/" target="_blank" class="a">
                    <img src="/views/assets/images/logoum6p.png" alt="Partenaire 2">
                  </a>
                  <a href="https://www.almoutmir.ma/index.php/fr" target="_blank" class="a">
                    <img src="/views/assets/images/logo11.png" alt="Partenaire 2">
                  </a>
                  <!-- Ajoutez d'autres partenaires si nécessaire -->
                </div>
              <hr>
                <!-- Copyright -->
                <div class="footer-copyright">
                  <p>&copy; 2024 Al Moutmir. Tous droits réservés.</p>
                </div>
              </footer>
            <!-- footer end-->
            <div class="BackTo">
               <a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
            </div>
         </div>
         <!-- ts footer area end-->
         <!-- Javascript Files-->
         <!-- initialize jQuery Library -->
         <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.js"></script>
   
         <script src="/views/event/js/popper.min.js"></script>
         <!-- Bootstrap jQuery -->
         <script src="/views/event/css/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
         <!-- Counter -->
         <script src="/views/event/js/jquery.appear.min.js"></script>
         <!-- Countdown -->
         <script src="/views/event/js/jquery.jCounter.js"></script>
         <!-- magnific-popup -->
         <script src="/views/event/js/jquery.magnific-popup.min.js"></script>
         <!-- carousel -->
         <script src="/views/event/js/owl.carousel.min.js"></script>
         <!-- Waypoints -->
         <script src="/views/event/js/wow.min.js"></script>
         <!-- isotop -->
         <script src="/views/event/js/isotope.pkgd.min.js"></script>
         <!-- scrollme -->
         <script src="/views/event/js/jquery.scrollme.js"></script>
   
         <script src="/views/event/js/script.js"></script>
         <!-- Template custom -->
         <script src="/views/event/js/main.js"></script>
         <script src="/scripts/script.js"></script>
         <script>
            document.getElementById('logoutButton')?.addEventListener('click', () => {
                 window.location.href = '/inscription/logout';
             });
        
             document.getElementById('loginButton')?.addEventListener('click', () => {
                 window.location.href = '/inscription';
             });
        
             document.getElementById('registerButton')?.addEventListener('click', () => {
                 window.location.href = '/inscription';
             });
         </script>
      </div>
      <!-- Body inner end -->
   </body>
   

<!-- Mirrored from demo.themewinter.com/html/exhibz/index-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Aug 2024 08:23:12 GMT -->
</html>